/* IncreamentAndDecrement.css */

body {
    background-color: #a7c957;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
}

.outerContainer {
    background-color: #f8f9fa;
    width: 200px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
}

h1 {
    margin: 0;
    font-size: 48px;
    color: #1f2937;
    background-color: #2b2d42;
    padding: 10px 0;
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #ffffff;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
}

button:first-of-type {
    background-color: #00b4d8;
}

button:last-of-type {
    background-color: #1f2937;
}
